<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/simple-sidebar.css" rel="stylesheet">
    <script src="../../node_modules/jquery-ui/external/jquery/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                </li>
                <li>
                    <a href="/order">訂單管理</a>
                </li>
                <li>
                    <a href="/store">門市管理</a>
                </li>
                <li>
                    <a href="/init">初始化修改</a>
                </li>
                <li>
                    <a href="/closed">店休設定</a>
                </li>
                <li>
                    <a href="/about">關於我們</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">---</a>
                <br>
                <br>
                <h1 style="font-family: 微軟正黑體">關於我們</h1>
                <span align="right" style="font-size: 30px ;color:red ;font-family: 微軟正黑體;position:absolute;right:4% ">{{infoMessages}}</span>
                <br>
                <form action="/about" autocomplete='off' method="POST" style="font-family: 微軟正黑體 ;display:inline">
                    <br> 介紹：
                    <br>
                    <textarea name="introduce" cols="30" rows="10">{{about.introduce}}</textarea>
                    <br>------------------------------------------
                    <br> {% for store in stores %}
                    <div class="store ">{{ store.name }}
                        <br>
                        電話：<input type="text" name="phone" value={{ store.phone }}>
                        <br> 
                        地址：<input style="width: 350px" type="text" name="address" value={{ store.address }}>
                        <br>
                        <br>------------------------------------------
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    <span style="position:absolute;left:26.7%"><button type="submit">確認</button></span>
    </form>
    <br>
    <br>
    <br>
    </div>
    </div>
    </div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>

</html>