<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <script src="../node_modules/jquery-ui/external/jquery/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../node_modules/jquery-ui/jquery-ui.min.css">
    <script src="../node_modules/jquery-ui/external/jquery/jquery.js"></script>
    <script src="../node_modules/jquery-ui/jquery-ui.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                </li>
                <li>
                    <a href="/order">訂單管理</a>
                </li>
                <li>
                    <a href="/store">門市管理</a>
                </li>
                <li>
                    <a href="/init">初始化修改</a>
                </li>
                <li>
                    <a href="/closed">店休設定</a>
                </li>
                <li>
                    <a href="/about">關於我們</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">---</a>
                <br>
                <br>
                <h1>按日期&門市查詢</h1>
                <span align="right" style="font-size: 30px ;color:red ;font-family: 微軟正黑體;position:absolute;right:4%">{{infoMessages}}</span>
                <br>
                <br>
                <form action="/orderbydate" method="POST" autocomplete='off'>
                    請選擇日期
                    <input type="text" id="datepicker" name="date">
                    <br>
                    <br>請選擇門市
                    <select name="store">
                        <option value="0">--</option>
                        {% for store in storeList %}
                        <option value="{{store.name}}">{{store.name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <button type="submit">確認</button>
                </form>
                <br>
                <br>
                <script>
                $(function() {
                    $("#datepicker").datepicker();
                });
                </script>
            </div>
        </div>
    </div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>

</html>