<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>註冊</title>
</head>

<body style="background-color: white">
    <h1 style="font-family: 微軟正黑體">建立您的管理帳號</h1>
    <br>
    <form action="/admin/signup" method="POST" style="font-family: 微軟正黑體">
        帳號 :
        <input type="text" name="username">
        <span style="color: red">{{ errorMessages }}</span> <br>
        密碼 :
        <input type="password" name="password">
        <br> 再次輸入密碼 :
        <input type="password" name="password2">
        <br>
        <button type="submit">確認</button>
    </form>
</body>

</html>