<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/simple-sidebar.css" rel="stylesheet">
    <script src="../../node_modules/jquery-ui/external/jquery/jquery.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                </li>
                <li>
                    <a href="/order">訂單管理</a>
                </li>
                <li>
                    <a href="/store">門市管理</a>
                </li>
                <li>
                    <a href="/init">初始化修改</a>
                </li>
                <li>
                    <a href="/closed">店休設定</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <script language="Javascript">
                function CheckForm() {
                    if (confirm("確認刪除？ 刪除分店後,連同班表及相關資料一併移除！") == true)
                        return true;
                    else
                        return false;
                }
                </script>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">---</a>
                <br>
                <br>
                <h1 style="font-family: 微軟正黑體">管理門市</h1>
                <br>
                <form action="/store/update/{{storeId}}" autocomplete='off' method="POST" style="font-family: 微軟正黑體 ;display:inline">
                    <br> 分店名稱：
                    <input type="text" name="newname" value="{{storename}}"> <span style="font-size: 10px ;color:red ;font-family: 微軟正黑體 ">{{infoMessages}}</span>
                    <br> ------------------------------------------
                    <br> 設定營業時間
                    <br>
                    <select name="startAt">
                        {%if storeStart %}
                        <option value={{storeStart}}>{{storeStart | int}}:{{(storeStart - storeStart | int)*6}}0</option>
                        {%endif%}
                        <option value="0">0:00</option>
                        <option value="0.5">0:30</option>
                        <option value="1">1:00</option>
                        <option value="1.5">1:30</option>
                        <option value="2">2:00</option>
                        <option value="2.5">2:30</option>
                        <option value="3">3:00</option>
                        <option value="3.5">3:30</option>
                        <option value="4">4:00</option>
                        <option value="4.5">4:30</option>
                        <option value="5">5:00</option>
                        <option value="5.5">5:30</option>
                        <option value="6">6:00</option>
                        <option value="6.5">6:30</option>
                        <option value="7">7:00</option>
                        <option value="7.5">7:30</option>
                        <option value="8">8:00</option>
                        <option value="8.5">8:30</option>
                        <option value="9">9:00</option>
                        <option value="9.5">9:30</option>
                        <option value="10">10:00</option>
                        <option value="10.5">10:30</option>
                        <option value="11">11:00</option>
                        <option value="11.5">11:30</option>
                        <option value="12">12:00</option>
                        <option value="12.5">12:30</option>
                        <option value="13">13:00</option>
                        <option value="13.5">13:30</option>
                        <option value="14">14:00</option>
                        <option value="14.5">14:30</option>
                        <option value="15">15:00</option>
                        <option value="15.5">15:30</option>
                        <option value="16">16:00</option>
                        <option value="16.5">16:30</option>
                        <option value="17">17:00</option>
                        <option value="17.5">17:30</option>
                        <option value="18">18:00</option>
                        <option value="18.5">18:30</option>
                        <option value="19">19:00</option>
                        <option value="19.5">19:30</option>
                        <option value="20">20:00</option>
                        <option value="20.5">20:30</option>
                        <option value="21">21:00</option>
                        <option value="21.5">21:30</option>
                        <option value="22">22:00</option>
                        <option value="22.5">22:30</option>
                        <option value="23">23:00</option>
                        <option value="23.5">23:30</option>
                    </select>
                    ~
                    <select name="endAt">
                        {%if storeEnd %}
                        <option value={{storeEnd}}>{{storeEnd | int}}:{{(storeEnd - storeEnd | int)*6}}0</option>
                        {%endif%}
                        <option value="0">0:00</option>
                        <option value="0.5">0:30</option>
                        <option value="1">1:00</option>
                        <option value="1.5">1:30</option>
                        <option value="2">2:00</option>
                        <option value="2.5">2:30</option>
                        <option value="3">3:00</option>
                        <option value="3.5">3:30</option>
                        <option value="4">4:00</option>
                        <option value="4.5">4:30</option>
                        <option value="5">5:00</option>
                        <option value="5.5">5:30</option>
                        <option value="6">6:00</option>
                        <option value="6.5">6:30</option>
                        <option value="7">7:00</option>
                        <option value="7.5">7:30</option>
                        <option value="8">8:00</option>
                        <option value="8.5">8:30</option>
                        <option value="9">9:00</option>
                        <option value="9.5">9:30</option>
                        <option value="10">10:00</option>
                        <option value="10.5">10:30</option>
                        <option value="11">11:00</option>
                        <option value="11.5">11:30</option>
                        <option value="12">12:00</option>
                        <option value="12.5">12:30</option>
                        <option value="13">13:00</option>
                        <option value="13.5">13:30</option>
                        <option value="14">14:00</option>
                        <option value="14.5">14:30</option>
                        <option value="15">15:00</option>
                        <option value="15.5">15:30</option>
                        <option value="16">16:00</option>
                        <option value="16.5">16:30</option>
                        <option value="17">17:00</option>
                        <option value="17.5">17:30</option>
                        <option value="18">18:00</option>
                        <option value="18.5">18:30</option>
                        <option value="19">19:00</option>
                        <option value="19.5">19:30</option>
                        <option value="20">20:00</option>
                        <option value="20.5">20:30</option>
                        <option value="21">21:00</option>
                        <option value="21.5">21:30</option>
                        <option value="22">22:00</option>
                        <option value="22.5">22:30</option>
                        <option value="23">23:00</option>
                        <option value="23.5">23:30</option>
                    </select>
                    <br>------------------------------------------
                    <br>預約區間
                    <br>
                    <select name="bookingBlock">{%if storeBookingBlock %}
                        <option value={{storeBookingBlock}}>{{storeBookingBlock*60}}分鐘</option>
                        {%endif%}
                        <option value="0.5">30分鐘</option>
                        <option value="1">60分鐘</option>
                        <option value="1.5">90分鐘</option>
                        <option value="2">120分鐘</option>
                    </select>
                    <!-- <br> ------------------------------------------
                    <br> 設定店休日期
                    <br> 每月固定
                    <input type="text" name='closeDateByMonth' placeholder="ex:5,15,30" value={{storeCloseDateByMonth}}><span style="font-size: 5px ;color: blue"> 多天請用逗號隔開 ; 若無,請空白</span>
                    <br> 每週固定
                    <select name="closeDateByWeek">
                        <option value="{{storeCloseDateByWeekOri}}">{{storeCloseDateByWeek}}</option>
                        <option value="0">無</option>
                        <option value="1">星期一</option>
                        <option value="2">星期二</option>
                        <option value="3">星期三</option>
                        <option value="4">星期四</option>
                        <option value="5">星期五</option>
                        <option value="6">星期六</option>
                        <option value="7">星期日</option>
                    </select> -->
                    <br>------------------------------------------
                    <br> 同時段可接受名額數量 :
                    <select name="newsameTimeBook" value="{{storenum}}">
                        <option value="{{storenum}}">{{storenum}}</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                        <option value=11>11</option>
                        <option value=12>12</option>
                        <option value=13>13</option>
                        <option value=14>14</option>
                        <option value=15>15</option>
                        <option value=16>16</option>
                        <option value=17>17</option>
                        <option value=18>18</option>
                        <option value=19>19</option>
                        <option value=20>20</option>
                    </select>
                    <!--  <br>------------------------------------------
                    <br> 接受幾天前開放預約
                    <br>
                    <select name="dayOfBook">
                        <option value={{storeDayOfBook}}>{{storeDayOfBook}}</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                        <option value=11>11</option>
                        <option value=12>12</option>
                        <option value=13>13</option>
                        <option value=14>14</option>
                        <option value=15>15</option>
                        <option value=16>16</option>
                        <option value=17>17</option>
                        <option value=18>18</option>
                        <option value=19>19</option>
                        <option value=20>20</option>
                        <option value=21>21</option>
                        <option value=22>22</option>
                        <option value=23>23</option>
                        <option value=24>24</option>
                        <option value=25>25</option>
                        <option value=26>26</option>
                        <option value=27>27</option>
                        <option value=28>28</option>
                        <option value=29>29</option>
                        <option value=30>30</option>
                    </select>天 -->
                    <br> ------------------------------------------
            </div>
        </div>
    </div>
    <span style="position:absolute;left:26.7%"><button type="submit">更新</button></span>
    </form>
    <form action="/store/delete/{{storeId}}" method="POST" style="color: black;display:inline" onSubmit="return CheckForm();">
        <span style="position:absolute;left:23%"><button type="submit">刪除</button></span>
    </form>
    <span style="position:absolute;left:19.3%"><button onclick="location.href='/store'">取消</button></span>
    <br>
    <br>
    <br>
    </div>
    </div>
    </div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>

</html>