<title>關於我們</title>
<style>
.store {
    display: inline-block;
    width: 25%;
    height: 100px;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    padding: 10px;
    font-family: 微軟正黑體
}
</style>
<div ng-controller="aboutCtrl">
    <!--     <div style="border-width:3px;border-style:dashed;padding:5px; width: 100%"> -->
    <h3>介紹</h3>
    <div>{{about.introduce}}</div>
    <br>
    <br>
    <br>
    <br>
    <!-- <div>{{storeList}}</div> -->
    <h3>分店資訊</h3>
    <br>
    <div ng-repeat="storeList in storeLists">
        <div class="store" ng-if="storeList.phone&&storeList.address">分店名稱：{{storeList.name}}
            <br>地址：{{storeList.address}}
            <br>電話：{{storeList.phone}}</div>
        <div> </div>
        <br>
    </div>
    <br>
</div>
</div>