<title>預約確認</title>
<div ng-controller="confirmCtrl">
	<div style="border-width:3px;border-style:dashed;padding:5px; width: 20%">
<h1 align="center">預約確認</h1>
<h5 align="center">預約日期：{{date}}</h5>
<h5 align="center">預約時間：{{startAt | int}}:{{(startAt |dot) *6}}0 ~ {{endAt | int}}:{{(endAt |dot) *6}}0</h5>
<h5 align="center">分店名稱：{{store}}</h5>
<div align="center">
<textarea  ng-model="note" placeholder="備註"style="border-color:black;border-width:1px;border-style:solid; width: 200px ;height:100px " type="text" name="note"></textarea></div>
<br>
<div align="center">
<button ng-click=cancel()>返回</button>
<button ng-click=complete()>下一步</button></div>
</div>
</div>

