<title>我的訂單</title>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<div ng-controller="myorderCtrl">
    <div>
        <table width="100%" style="table-layout:fixed ">
            <tr>
                <th style="font-weight: bold; ">日期</th>
                <th style="font-weight: bold; ">時段</th>
                <th style="font-weight: bold; ">門市</th>
                <th style="font-weight: bold; ">驗證碼</th>
                <th style="font-weight: bold; ">狀態</th>
                <th></th>
            </tr>
            <tr ng-repeat="order in orders">
                <td>{{order.date | date:'yyyy'}}/{{order.date | date:'MM'}}/{{order.date | date:'dd'}}</td>
                <td>{{order.startAt | int}}:{{(order.startAt | dot)*6}}0 ~ {{order.endAt | int}}:{{(order.endAt | dot)*6}}0</td>
                <td>{{order.store.name}}
                </td>
                <td>{{order.code}}</td>
                <td>
                    <span ng-if="((DD |date: 'yyyy')<(order.date | date: 'yyyy'))||((DD |date: 'yyyy')==(order.date | date: 'yyyy')&& (DD |date: 'MM')<(order.date | date: 'MM') && order.cancel==false)||((DD |date: 'yyyy')==(order.date | date: 'yyyy')&& (DD |date: 'MM')==(order.date | date: 'MM') && order.cancel==false && (order.date | date: 'dd')>=(DD |date:'dd'))" style="color: green">進行中<br>
                    </span>
                    <span ng-if=" order.cancel==true" style="color: red">取消</span>
                    <span ng-if="((DD |date:'yyyy')>(order.date | date:'yyyy'))||((DD |date:'yyyy')==(order.date | date:'yyyy')&&
    (DD |date:'MM')>(order.date | date:'MM'))||((DD |date:'yyyy')==(order.date | date:'yyyy')&&
    (DD |date:'MM')==(order.date | date:'MM') &&
    order.cancel==false &&
    (order.date | date:'dd')<(DD |date:'dd'))">已完成</span>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="cancel(order.id)" ng-if="
                    ((DD |date:'yyyy')<(order.date | date:'yyyy'))||((DD |date:'yyyy')==(order.date | date:'yyyy')&&(DD |date:'MM')<(order.date | date:'MM') && order.cancel==false &&
                    (endDate-((DD |date:'dd')|int)) + ((order.date | date:'dd')|int) > 3)||
                    ((DD |date:'yyyy')==(order.date | date:'yyyy')&&(DD |date:'MM')==(order.date | date:'MM') &&order.cancel==false &&(order.date | date:'dd')-(DD |date:'dd')>3)">取消</button>
                </td>
            </tr>
           <!--  <tr ng-if="order.startAt>=10"ng-repeat="order in orders">
                <td>{{order.date | date:'yyyy'}}/{{order.date | date:'MM'}}/{{order.date | date:'dd'}}</td>
                <td>{{order.startAt | int}}:{{(order.startAt | dot)*6}}0 ~ {{order.endAt | int}}:{{(order.endAt | dot)*6}}0</td>
                <td>{{order.store.name}}
                </td>
                <td>{{order.code}}</td>
                <td>
                    <span ng-if="((DD |date: 'yyyy')<(order.date | date: 'yyyy'))||((DD |date: 'yyyy')==(order.date | date: 'yyyy')&& (DD |date: 'MM')<(order.date | date: 'MM') && order.cancel==false)||((DD |date: 'yyyy')==(order.date | date: 'yyyy')&& (DD |date: 'MM')==(order.date | date: 'MM') && order.cancel==false && (order.date | date: 'dd')>=(DD |date:'dd'))" style="color: green">進行中<br>
                    </span>
                    <span ng-if=" order.cancel==true" style="color: red">取消</span>
                    <span ng-if="((DD |date:'yyyy')>(order.date | date:'yyyy'))||((DD |date:'yyyy')==(order.date | date:'yyyy')&&
    (DD |date:'MM')>(order.date | date:'MM'))||((DD |date:'yyyy')==(order.date | date:'yyyy')&&
    (DD |date:'MM')==(order.date | date:'MM') &&
    order.cancel==false &&
    (order.date | date:'dd')<(DD |date:'dd'))">已完成</span>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="cancel(order.id)" ng-if="
                    ((DD |date:'yyyy')<(order.date | date:'yyyy'))||((DD |date:'yyyy')==(order.date | date:'yyyy')&&(DD |date:'MM')<(order.date | date:'MM') &&order.cancel==false &&
                    (((DD |date:'dd')|int) - endDate) + ((order.date | date:'dd')|int) > 0)||
                    ((DD |date:'yyyy')==(order.date | date:'yyyy')&&(DD |date:'MM')==(order.date | date:'MM') &&order.cancel==false &&(order.date | date:'dd')-(DD |date:'dd')>3)">取消</button>
                </td>
            </tr> -->
        </table>
    </div>
</div>